*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --drop-btn: #0061fe;
    --drop-jumbo: #b4d0e6;
}

body{
    color: black;
    font-family: sans-serif;
    font-size: 15px;
    min-width: 1440px;
}


header{
    padding: 0 20px;
    background-color: white;
    position: fixed;
    z-index: 50;
    width: 100%;

    nav{
        .d-flex{
            display: flex;
            justify-content: space-between;
        }
        
        .box{
            display: flex;
            align-items: center;
            gap: 30px;
        }

        ul{
            display: flex;
            list-style: none;
            gap: 30px;

            a{
                padding: 15px 0;
                display: inline-block;
                border-bottom: 2px solid transparent;

                &:hover{
                    border-bottom: 2px solid black;
                }
            }

        }
        
        .btn{
            margin: 0;
        }

        
    }

}

main{
    padding-top: 48px;
}

.btn{
    background-color: var(--drop-btn);
    padding: 5px 10px;
    color: white;
    display: inline-block;
    margin: 20px 0 20px 0;

    &:hover{
        background-color: rgb(53, 53, 255);
        color: lightgray;
    }
}

.jumbotron{
        background-color: var(--drop-jumbo);
        display: flex;
        justify-content: center;
        height: 630px;


        h1{
            font-size: 70px;
            padding: 80px 0 30px 0;
        }

        .col-8{
            width: calc(100% / 12 * 8);
        }

        
        
        .arrow{
            font-size: 50px;
            padding-top: 50px;
            }
        
        img{
            width: 120%;
        }
    }

.cont-jb{
    width: 70%;
    margin: auto;
}

.container{
    width: 60%;
    margin: auto;

    h2{
        padding: 150px 0 50px 0;
        font-size: 30px;
    }

    span{
        padding-right: 40px;
    }

    .business-class{
        padding: 20px;
        border: 1px solid grey;

        p{
            padding-top: 20px;
        }
        
    }

    .bc-flex{
        display: flex;
    }

    .w-70{
        max-width: 70%;
    }

    .w-30{
        max-width: 30%;

    }

    .m-h{
        min-height: 800px;
    }

    .btn-0{
        margin: 0;
        text-align: center;
    }
}

.partner{
    padding: 150px 0;

    h2{
        padding: 30px 0 20px 0;
    }
}

.row-op{
    display: flex;
    flex-wrap: wrap;
    margin: -20px;

    .col-4{
        padding: 20px;
    }
}

.operations{
padding-bottom: 150px;

    h4{
        font-size: 20px;
        padding: 20px 0 20px 0;
    }

    .card-top{
        img{
            width: 100%;
        }
    }
}

footer{
    background-color: black;
    color: white;   
    padding: 80px 0 20px 0;

    ul{
        list-style: none;

        li{
            padding: 10px 0;
            font-size: 12px;

            h3{
                font-size: 18px;
            }
        }
    }

   .cont-jb{
    display: flex;
    justify-content: space-between;
   }

   .language{
    font-size: 12px;
    padding-top: 50px;
    color: grey;

    i{
        padding: 3px;
        
        &:last-child{
            font-size: 8px;
        }
    }
   }

   hr{
    width: 90px;    
   }

   .p-t{
    padding-top: 40px;
   }
}

hr{
    width: 45px;
}

/* Utilities */
a{
    text-decoration: none;
    color: black;
}

.row{
    display: flex;
    gap: 30px;

    .bold{
        font-weight: bold;
    } 
    
    .month{
        color: grey;
    }

    .btn-big{
        padding: 5px 20px;
    }
}  

.col-4{
    width: calc(100% / 12 * 4);
} 

.col-5{
    width: calc(100% / 12 * 5);
}

.col-7{
    width: calc(100% / 12 * 7);

    img{
        width: 100%;
    }
}

.col-12{
    width: 100%;
}

.check{
    i{
        color: blue;
    }
}

#business{
    h4{
        border: 1px solid grey;
        border-bottom: none;
        text-align: center;
        padding: 10px;
        margin-top: 40px;
    }
}

.underline{
    text-decoration: underline;
    color: blue;
}
/* /Utilities */








    
    


